.mdl-list__item-primary-content {
  font-size: 18px;
}

.list {
  padding: 0px;
}

.list-txt {
  padding-left: 25px !important;
}

.mdl-list {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}
